$green: #00b37e;
$blue: #19a9d8;
$orange: #ffcd31;
$violet: #ed008d;
$pink: #ee0b77;

$grey-darkest: #bababa;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #fff;
$black: #000;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);

$pink: rgba(237, 0, 141, 1);
$pink-75: rgba(237, 0, 141, 0.75);
$pink-50: rgba(237, 0, 141, 0.5);
$pink-25: rgba(237, 0, 141, 0.25);

$radar-blue: rgba(58, 61, 108, 1);
$radar-blue-75: rgba(58, 61, 108, 0.75);
$radar-blue-50: rgba(58, 61, 108, 0.5);
$radar-blue-25: rgba(58, 61, 108, 0.25);
